@import url('global.css');

.add-modal {
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-modal-container {
  background-color: var(--yellow100);
  width: 100%;
  max-width: 500px; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem 1rem;
  padding-bottom: 4rem;
}

.add-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}


.buttons-wrapper {
  width: 100%;
  padding:1rem 2rem;
  display: flex;
  justify-content: end;
}

.btns-add {
  padding: 0.2rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 1rem;
}

.cancel-btn {
  border: var(--salmon100) 3px solid;
  color: var(--salmon200);
}

.alert {
  font-size: 0.75rem;
  color: rgb(80, 76, 76);
  padding-bottom: 1rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
  justify-content: end;
  width: 100%;
  padding:0.5rem 2rem;
  color: var(--red100);
}

.add-music {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.m-dropdown-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  gap: 20px;
}

.m-dropdown-item {
  width: 100%;
  margin-bottom: 1rem;
}

.m-dropdown {
  width: 100%;
  border-radius: 10px;
  border: 2px var(--salmon200) solid;
  padding: 0.2rem 1rem;
}

.save-btn {
  background-color: var(--salmon100);
  border: var(--salmon100) solid 2px;
}
