.container {
  min-height: 100vh;
  max-width: 100vw;
  background: var(--blue100);
}

.container-page {
  padding: 1rem;
  padding-top: 8rem;
  max-width: 800px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.artist-profile-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 1rem;
  border-radius: 1.25rem;
}

.artist-image {
  width: 120px;
  height: 120px;
  border-radius: 0.2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  align-self: self-start;
}

.details-container {
  padding-left: 1rem;
  display: flex;
  width: 100%;
}

.artist-name {
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}

.songs-container {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.buttons-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  padding-left: 1rem;
}



.song-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 1rem;
  background-color: var(--blue50);
  border-radius: 1.25rem;
}

.details-artist-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left:1rem;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--blue50);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


.song-cover {
  width: 80px;
  height: 80px;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}


@media only screen and (max-width: 550px) {
  .artist-description {
    font-size: 0.7rem;
  }

  .artist-name {
    font-size: 1.5rem;
  }
}